<header>
  <div class="container">
    <div class="card hero-card {% if page.hero-image %}hero-card--image{% endif %}">
      <header class="card__header">
        <div class="tag-container u-mb-100">
          {% for tag in page.tags %}
            <div class="tag">{{ tag.name }}</div>
          {% endfor %}
        </div>
        <h1>{{ page.title }}</h1>
      </header>
      <div class="card__body">
        <div class="hero-card__layout-container">
          <div class="hero-card__description-container">
            <p class="u-mb-300">{{ page.description }}</p>
            <a href="#{{ include.link }}" class="button">
              <span class="button__icon button__icon--bounce-down">👇</span>
              {{ include.cta-text }}
            </a>
          </div>
          <div class="hero-card__art-container">
            <div class="hero-card__image-container">
              {% if page.frame_url %}
                {% include shared/frame.liquid %}
              {% elsif page.hero-image %}
                <img
                  src="{{ page.hero-image }}"
                  class="hero-card__image"
                  alt=""
                  role="presentation">
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>