<header>
  <div class="container">
    <div class="card">
      <header class="card__header u-mb-500">
        <div class="tag-container u-mb-100">
          {% for tag in page.tags %}
            <div class="tag">{{ tag.name }}</div>
          {% endfor %}
        </div>
        <h1>{{ page.title }}</h1>
      </header>
      <div class="card__body">
        <div class="grid">
          <div>
            <p class="u-mb-300">{{ page.description }}</p>
            <a href="#case-studies" class="button">
              <span class="button__icon button__icon--bounce-down">👇</span>
              {{ include.cta-text }}
            </a>
          </div>
          <div class="grid">
            {% if page.hero-partial %}
              {% include {{ page.hero-partial }} %}
            {% elsif page.hero-image %}
              <div class="card__hero-image-container">
                <img
                  src="{{ page.hero-image }}"
                  class="card__hero-image"
                  alt=""
                  role="presentation">
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>